body{
    margin: 0;
}
.body_inline_block{
    margin: 0;
    background-color:#F8EED1;
    display: inline-block;
}
.inline_block{
    display: inline-block;
}
.flex {
    display: flex;
    height: 10vh;
    padding: 15px;
    background-color: #B5B4DB;
    flex-direction: row;
  }
  
  .item {
    flex: 1;
    background-color: #B5B4DB;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
  }
  .item1 {
    flex: 2;
    background-color: #B5B4DB;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
  }
  .smallcushion{
      width: 10px;
  }
  .flex-2 {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
    background-color: #B5B4DB;
  }
.top{
    background-color: #B5B4DB;
    padding: 20px;
    width: 100vw;
    height: 15vh;
}
.top_logo{
    background-color: #B5B4DB;
    height: 100%;
    width: 25%;
    padding-top: 2%;
}
.top_cushion{
    background-color: #B5B4DB;
    height: 100%;
    width: 10%;
}
.top_icon{
    background-color: #B5B4DB;
    height: 100%;
    width: 10%;
    padding-top: 2%;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.clear{
    clear:both; 
    height: 0; 
    line-height: 0; 
    font-size: 0
}
.main{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}
.main_introtext{
    width: 90%;
    background-color: #FFFFFF;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin: 0 auto;
}
.imgcenter{ 
    max-width:100%; 
   } 
.text{
    text-align: center;
}
.title{
    font-size: 15px;
}
.box0{
    width: 45%;
    padding-left: 15px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}
.content {
    display: flex;
    height: 45vh;
    padding: 15px;
    background-color: #61a0f8;
    flex-wrap: wrap;
  }
  
  .box {
    flex: 0 0 47%;
    background-color: #f08bc3;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    height: 70%
  }
  .box2 {
    flex: 0 0 47%;
    background-color: #f08bc3;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    height: 8%
  }
  .box3 {
    flex: 0 0 47%;
    background-color: #f08bc3;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    height: 22%
  }
.introtext{
    padding: 10px;
}
.right_35px{
    padding-left: 35px;
}
.bottom{
    background-color: #B5B4DB;
    padding: 10px;
    height: 50vh;
}
.bottom_logo{
    background-color: #B5B4DB;
    height: 500px;
    width: 700px;
}
.bottom_icon{
    background-color: #B5B4DB;
    height: 200px;
    width: 800px;
    padding-top: 300px;
}
.bottom_cushion{
    background-color: #B5B4DB;
    height: 400px;
    width: 300px;
}
.bottom_text{
    color: #ffffff;
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
}
.share{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}
.flexb {
    display: flex;
    height: 30vh;
    padding: 15px;
    background-color: #B5B4DB;
    flex-direction: row;
  }
  .itemb {
    flex: 1;
    background-color: #B5B4DB;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    flex-wrap: wrap;
  }
